html{
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


h1 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 span a {
  color: #fff;
}
h2, h3, h4, {
  color: #444;
}
p {
  color: #fff
}
/* layout styles */
header#mainHeader {
	height: 185px;
}
main {
	margin: auto;
	width: 50%;
	padding: 0 10px 0 25px;
}
section#right, section#links {
	float: right;
	clear: right;
	width: 20%;
	margin-bottom: 0;
}
aside#adCopy {
	float: right;
	clear: right;
	width: 450px;
	margin-bottom: 1em;
}
footer#pageFooter {
	clear: both;
	overflow: auto;
}

.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.imgRight {
	float: right;
	margin-left: 1em;
	margin-bottom: 1 em;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
